/*table:not([class]) td {*/
/*    border: 1px solid grey;*/
/*}*/

.boardtable {
    align-content: center;
    margin: 0;
    border-collapse: collapse;
    font-size: 13px;
}

.boardtable td {
    padding-top:4px;
    padding-bottom:4px;
    min-width: 100px;
    text-align: center;
    border-bottom: 1px solid gainsboro;
}

.boardtable > thead > tr > th:nth-child(2) {
    min-width: 50px;
}

.boardtable > thead > tr > th:nth-child(4) {
    width: 150px;
}

.boardtable > tbody > tr > td:nth-child(2) {
    font-family: 'Nanum Gothic', sans-serif;
    /*min-width: 400px;*/
}

.boardtable > tbody > tr > td:nth-child(4) {
    width: 150px;
}

.boardtable2 {
    align-content: center;
    margin: 0;
    border-collapse: collapse;
    font-size: 13px;
}

.boardtable2 td {
    padding-top:4px;
    padding-bottom:4px;
    min-width: 100px;
    text-align: center;
    border-bottom: 1px solid gainsboro;
}

.boardtable2 > thead > tr > th:nth-child(1) {
    min-width: 20px;
}

.boardtable2 > thead > tr > th:nth-child(2) {
    min-width: 100px;
}

.boardtable2 > thead > tr > th:nth-child(3) {
    min-width: 80px;
}

.boardtable2 > tbody > tr > td:nth-child(1) {
    font-family: 'Nanum Gothic', sans-serif;
    min-width: 20px;
}

.boardtable2 > tbody > tr > td:nth-child(2) {
    font-family: 'Nanum Gothic', sans-serif;
    min-width: 100px;
}

.boardtable2 > tbody > tr > td:nth-child(3) {
    font-family: 'Nanum Gothic', sans-serif;
    min-width: 80px;
}

#page {
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table a {
    color: #546E7A;
}

strong a {
    color: #546E7A;
}

.boardtable th {
    margin: 0;
    border-bottom: 1px solid #607D8B;
    border-top: 2px solid #607D8B;
    background-color: #ECEFF1;
}
.post_title:hover{
    color: black;
    text-decoration: underline;
}