.mySlides {
    display: none;
    z-index:0;
}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
.text {
    color: #ffffff;
    font-size: 15px;
    padding: 10px 0px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active {
    background-color: #717171;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
@media only screen and (max-width: 300px) {
    .text {font-size: 11px}
}